@page "/ResendToken"

<div class="row">
    <div class="col-12" style="display: flex; justify-content: center; align-content: center;">
        <EditForm Model="emailDTO" OnValidSubmit="ResendConfirmationEmailTokenAsync">
            <DataAnnotationsValidator />


            <div class="card my-3 shadow rounded" style="max-width: 700px;">
                <div class="row g-0">
                    <div class="col-md-4" style="display:flex; margin:auto;">
                        <img src="/interacoop.png" class="img-fluid rounded-start" alt="Logo de InteraCoop.">
                    </div>
                    <div class="col-md-8">
                        <div style="display: flex; justify-content: center; margin-top: 2rem">
                            <h5 style="font-weight: 600; justify-content: center; align-content: center; letter-spacing: 4px; padding-top: 13px; text-align: center; font-size: 22px">
                                Reenviar correo de confirmación 
                            </h5>
                            <MudFab Style="position: absolute; top: 5px; right: 5px;" StartIcon="@Icons.Material.Filled.Close" @onclick=@(() => CloseModalAsync()) Size="Size.Small" Color="Color.Error" />
                        </div>
                        <div class="card-body">
                            <div style="margin-top: 1.5rem;">
                                <label style="margin-bottom:0.5rem; font-size: 11pt; letter-spacing: 2px">Ingrese su email:</label>
                                <InputText class="form-control" @bind-Value="@emailDTO.Email" />
                                <ValidationMessage For="@(() => emailDTO.Email)" />
                            </div>
                            @if (loading)
                            {
                                <Loading />
                            }
                            <div style="display:flex; justify-content: center; margin-top: 1.5rem;">
                                <MudButton StartIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%" ButtonType="ButtonType.Submit">Reenviar email</MudButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>
