@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar @(collapseSidebar ? "collapsed" : "")">
        <NavMenu CollapseSidebar="@collapseSidebar" ToggleSidebar="ToggleSidebar" />
    </div>

    <main>
        <div class="top-row px-4">
            <btn @onclick="ToggleSidebar"> BLA </btn>
            <a href="">InteraCoop</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseSidebar = false;

    private void ToggleSidebar()
    {
        collapseSidebar = !collapseSidebar;
    }
}
