@page "/"

<div class="card">
   <AuthorizeView Roles ="Admin">
     <Authorized>
    <div class="card-header">
        <span>
            <MudButton StartIcon="@Icons.Material.Filled.SpaceDashboard" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Dashboard</MudButton>
        </span>
    </div>    
    <p>Estas autenticado, @context.User.Identity?.Name</p>
    <div class="card-body">
        <MudTabs Elevation="4" Rounded="true" AlwaysShowScrollButtons="false" Color="@Color.Info" Class="mt-4">
            <MudTabPanel Text="Interacciones">
                <div class="my-2">
                    <InteraCoop.Frontend.Pages.Interactions.InteractionIndex />
                </div>            
            </MudTabPanel>
            <MudTabPanel Text="Oportunidades">
                <div class="my-2">
                    <InteraCoop.Frontend.Pages.Opportunities.OpportunitiesIndex />
                </div>
            </MudTabPanel>
        </MudTabs>
    </div>
     </Authorized>

    <NotAuthorized>
            <div class="col-md-4" style="display:flex; margin:auto;">
                <img src="/interacoop.png" class="img-fluid rounded-start" alt="Logo de InteraCoop.">
            </div>
    </NotAuthorized>
    </AuthorizeView>
</div>