@page "/"

<div class="card">
   <AuthorizeView Roles ="Admin">
        <Authorized>
            <InteraCoop.Frontend.Pages.Widgets.CarouselCharts/>
        </Authorized>
            
        <NotAuthorized>
            <InteraCoop.Frontend.Pages.Widgets.CarouselCharts/>
        </NotAuthorized>
    </AuthorizeView>
</div>
