<AuthorizeView>
    <Authorized>
        <span class="d-flex align-items-center">
            Hola, <a href="EditUser" class="nav-link btn btn-link´ px-2" style="color:white">@context.User.Identity!.Name</a>
        </span>        
        @if (!string.IsNullOrEmpty(photoUser))
        {
            <div class="mx-2">
                <img src="@photoUser" width="40" height="40" style="border-radius:50%" />
            </div>
        }
        else
        {
            <div class="mx-2">
                <img src="/usuario_silueta.png" width="40" height="40" style="border-radius:50%" />
            </div>
        }
        <MudButton Href="Logout" Variant="Variant.Filled" Color="Color.Transparent" Style="color:white; margin-left: 1rem">Cerrar Sesión</MudButton>
    </Authorized>
    <NotAuthorized>
@*          <MudButton Href="Register" Variant="Variant.Filled" Color="Color.Transparent" Style="color:white">Registro</MudButton> *@
         <MudButton @onclick=@(() => ShowModal()) Variant="Variant.Filled" Color="Color.Transparent" Style="color:white; margin-left: 1rem">Iniciar Sesión</MudButton>
    </NotAuthorized>
</AuthorizeView>
