<AuthorizeView>
    <Authorized>
        <span>Hola, @context.User.Identity!.Name</span>
        <MudButton Href="Logout" Variant="Variant.Filled" Color="Color.Transparent" Style="color:white; margin-left: 1rem">Cerrar sesión</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="Register" Variant="Variant.Filled" Color="Color.Transparent" Style="color:white">Registro</MudButton>
        <MudButton Href="Login" Variant="Variant.Filled" Color="Color.Transparent" Style="color:white; margin-left: 1rem">Iniciar Sesión</MudButton>
    </NotAuthorized>
</AuthorizeView>
