@typeparam Titem

@if (MyList == null)
{
    @if(Loading is null)
    {
      <Loading/> 
    }
    else
    {
        @Loading
    }
}
else if(MyList.Count == 0)
{
    @if(NoRecords is null)
    {
        <p class="table-row" style="height: 40px; margin-bottom: 1rem; align-items: center; padding-left: 1rem;">No hay registros para mostrar.</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}