<div class="d-flex justify-content-center aling-items-center">
    <div class="loading-container">
        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
    </div>
</div>
