<div class="multiple-selector">
    <div class="row">
        <div class="col-6">
            <ul class="selectable-ul" style="padding: 1rem;">
                @foreach (var item in Selected)
                {
                    <li class="list-group-item" style="background-color: #1EC8A5" @onclick=@(() => Unselect(item))>@item.Value</li>
                }
                @foreach (var item in NonSelected)
                {
                    <li class="list-group-item" @onclick=@(() => Select(item))>@item.Value</li>
                }
            </ul>
        </div>
    </div>
    @* <div class="selector-multiple-botones mt-3">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary btn-sm" @onclick="SelectAll">@addAllText</button>
            </div>
            <div class="col-6">
                <button class="btn btn-danger btn-sm" @onclick="UnselectAll">@removeAllText</button>
            </div>
        </div>
    </div> *@
</div>
