.card {
    font-family: 'lato', sans-serif;
    font-size: 14px;
}

.container {
    margin: auto;
    min-width: 100%;
    padding: 10px 20px;
    height: 700px;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    margin-bottom: 15px;
}

.table-header {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

.table-secondary {
    background-color: #FFFFFF;
}
